name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: Th1erryx
          outputs: dist/snake.svg

      - name: Upload to GitHub
        uses: actions/upload-artifact@v3
        with:
          name: snake
          path: dist/snake.svg
